aside#messages {
  position: fixed;
  top: 10vh;
  right: 5vw;
  padding: 0.2em 1em;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #cdcdda;
  z-index: 1000;

  .success > p::before {
    content: "✔ ";
    color: #00ff00;
  }
  .error > p::before {
    content: '⚠ ';
    color: #ffb300;
  }
  &:empty {
    right: 200vw;
    z-index: -1;
  }
}
